# .env file
.env

# Python cache
__pycache__/
*.pyc

# Django
*.log
media/

# SQLite database
*.sqlite3

# Static files
staticfiles/
static/

# Virtual environment
venv/
myenv/

# Miscellaneous
.DS_Store
*.swp