/* Container for social media icons with row layout and centered content */
.socialMediaSection{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    border-bottom: 1px solid var(--main-color);

    /* Style for individual social media icons including size, padding, border, and hover effects */
    .socialMedia{
        width: 2.5rem;
        height: 2.5rem;
        padding: .6rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--main-color);
        border-radius: 3rem;
        transition: .2s ease;

        &:hover{
            border: var(--main-color);
            color: var(--snd-bg-color);
            box-shadow: 0 0 1rem var(--main-color);
        }

        >svg{>path{fill: var(--main-color);}}
    }
}

.socialMediaSectionBorderNone{border: none;}