:root {
  --bg-color: #191f36;
  --snd-bg-color: #262840;
  --primary-color: #1e335096;
  --text-color: #fff;
  --main-color: #5982F4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body::-webkit-scrollbar{scrollbar-width: none;}

.main{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

@media screen and (min-width:769px){
  html{font-size: 1.17vw;}
  .main{width: 85.4rem;}
}

@media screen and (max-width:769px){
  html{font-size: .8rem;}
}

.navbar-section{
  width: 100%;
  height: fit-content;
  display: block;
}

.container-section{
  width: 100%;
  height: max-content;
  display: block;
}

.footer-section{
  width: 100%;
  height: fit-content;
  display: block;
}